CompileFlags:
  Add:
    - -I${workspaceFolder}/src
    - -I${workspaceFolder}/build/_deps/imgui-sfml-src
    - -I${workspaceFolder}/build/_deps/imgui-src
    - -I${workspaceFolder}/build/_deps/sfml-src 
    - -std=c++17
    - -DRESOURCES_PATH="${workspaceFolder}/resources/"
